[submodule "OCA/sale-workflow"]
	path = OCA/sale-workflow
	url = git@github.com:OCA/sale-workflow.git
	branch = 11.0

[submodule "OCA/sale-reporting"]
	path = OCA/sale-reporting
	url = git@github.com:OCA/sale-reporting.git
	branch = 11.0
